/* --- Global --- */

@font-face {
  font-family: SegoeIcons;
  src: url(../fonts/SegoeIcons.ttf);
}

@font-face {
  font-family: SegoeUI;
  src: url(../fonts/segoeui.ttf);
}

* {
  color: black;
  font-family: SegoeUI;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

body {
  background-color: #e6e6e6;
  margin: 0;
}

header,
.tabGroupTitleText,
.tabGroup {
  background-color: #f2f2f2;
}

.tabGroup {
  max-width: 1000px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  display: grid;
  border: 1px solid #d9d9d9;
}

textarea,
.clickable,
.tab,
.tabGroup>div>input[type="radio"]+label:before,
.tabGroup>div>input[type="radio"]:checked+label:after {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

textarea {
  border-bottom: 1px solid #8a8a8a;
}

textarea:hover,
.clickable:hover,
.tab:hover,
.tabGroupTitleText:focus,
.tabGroup>div>input[type="radio"]:hover+label:before,
.tabGroup>div>input[type="radio"]:checked:hover+label:after {
  background-color: #fafafa;
}

textarea:focus {
  border-bottom: 2px solid #0c87e0;
  background-color: #ffffff;
}

.tab:active,
.clickable:active,
.tabGroup>div>input[type="radio"]:active+label:before,
.tabGroup>div>input[type="radio"]:checked:active+label:after {
  background-color: #f2f2f2;
}

.tabGroupTitleText {
  outline: none;
  border: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

header>* {
  display: inline-block;
  vertical-align: middle;
}

#headerText {
  margin: 5px;
}

#Logo {
  height: 40px;
  margin: 5px;
}

#contentAreaDiv {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Main Page --- */

body>div {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  max-width: 980px;
  width: calc(100% - 40px);
}

h1,
h2,
h4 {
  margin: 0;
}

h4 {
  font-size: 16px;
}

.tabOptions>.clickable {
  margin: 5px 5px 0 0;
}

.tab {
  width: 100%;
  margin-top: 5px;
}

.tab>div {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  font-family: 'SegoeIcons';
  font-size: 18px;
}

.tab>div:has(.favicon) {
  height: 18px;
}

.favicon {
  height: 18px;
  border-radius: 0;
}

.title {
  margin-left: 5px;
}

.delete {
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  visibility: hidden;
}

.delete:hover {
  background-color: red;
  color: white;
}

.moreButton>div {
  display: none;
}

.clickable {
  padding: 5px;
  display: inline-block;
}

.setting {
  margin-right: 5px;
}

/* --- Settings Page --- */

.note {
  font-style: italic;
  color: grey;
  margin: 5px 0 0 0;
}

.tabGroup>div:has(label) {
  margin: 5px 0;
}

.tabGroup>div>input[type="radio"] {
  display: none;
}

.tabGroup>div>input[type="radio"]+label {
  position: relative;
  padding-left: 30px;
}

.tabGroup>div>input[type="radio"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tabGroup>div>input[type="radio"]:checked+label:before {
  background-color: #0c87e0;
}

.tabGroup>div>input[type="radio"]:checked+label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.1s ease;
}

.tabGroup>div>input[type="radio"]:checked:hover+label:after {
  left: 4px;
  width: 12px;
  height: 12px;
}

/* --- Import Page --- */

#Import {
  margin-top: 5px;
  text-align: center;
}

textarea {
  margin-top: 5px;
  resize: vertical;
  height: 200px;
  padding: 5px;
  outline: none;
}

@media screen and (max-width: 1000px) {
  #tabGroupsDiv {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color: white;
    scrollbar-color: #9f9f9f #2c2c2c;
  }

  body {
    background-color: #202020;
  }

  header,
  .tabGroupTitleText,
  .tabGroup {
    background-color: #2b2b2b;
  }

  .tabGroup {
    border: 1px solid #363636;
  }

  textarea,
  .clickable,
  .tab,
  .tabGroup>div>input[type="radio"]+label:before,
  .tabGroup>div>input[type="radio"]:checked+label:after {
    background-color: #363636;
    border: 1px solid #414141;
  }

  textarea {
    border-bottom: 1px solid #9d9d9d;
  }

  textarea:hover,
  .clickable:hover,
  .tab:hover,
  .tabGroupTitleText:focus,
  .tabGroup>div>input[type="radio"]:hover+label:before,
  .tabGroup>div>input[type="radio"]:checked:hover+label:after {
    background-color: #3b3b3b;
  }

  textarea:focus {
    background-color: #202020;
  }

  .tab:active,
  .clickable:active,
  .tabGroup>div>input[type="radio"]:active+label:before,
  .tabGroup>div>input[type="radio"]:checked:active+label:after {
    background-color: #2b2b2b;
  }

  .tabGroup>div>input[type="radio"]:checked:hover+label:before {
    background-color: #0c87e0;
  }
}
